<%- include('./includes/head.ejs') %> <%- include('./includes/heading.ejs') %>
<%- include('./includes/navigation.ejs') %>

<h1>ERROR 500</h1>

<hr>

<h2>در ارتباط با دیتابیس مشکلی رخ داده لطفا صبوری کنید</h2>


<%- include('./includes/end.ejs') %>
